* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.item {
    display: flex;
    padding: 15px;
    border: 2px solid darkorchid;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.item__content {

}

.linkText {
    text-decoration: none;
    color: darkorchid;

}

.Menu {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.MenuList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.MenuItem {
    font-size: 20px;
    list-style-type: none;
}

.listItem {
    list-style-type: none;
}